<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hisPlusConfiguration" type="Nerdle.AutoConfig.Section, Nerdle.AutoConfig" />    
  </configSections>
  
  <connectionStrings>
    <add name="RedisCache" connectionString="192.168.1.225:6379, connectRetry=10, abortConnect=false, allowAdmin=true" />
  </connectionStrings>

  <hisPlusConfiguration provider="agent">

    <localProvider>
      <connectionString name="HisPlus" />
      <installers>
        <installer assembly="HisPlus.Core" />
        <installer assembly="HisPlus.Domain" />
        <installer assembly="HisPlus.Service" />
      </installers>
    </localProvider>

    <agentProvider>
      <host name="localhost" port="14293">
        <credentials userName="test" password="test" />
      </host>
    </agentProvider>

    <clientCacheProvider>
      <connectionString name="RedisCache" />
      <customizedKey keyFormat="red_{0}_cache" />
    </clientCacheProvider>
  </hisPlusConfiguration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup> 

  <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
       </assemblyBinding> 
  </runtime>
  
</configuration>