<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hisPlusConfiguration" type="HisPlus.Infrastructure.Configuration.HisPlusConfigurationSection, HisPlus.Infrastructure"/>
  </configSections>

  <hisPlusConfiguration serviceCallMode="MiddleWare">
    <middleWare host="localhost" port="14293" />    
  </hisPlusConfiguration>
</configuration>