<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hisPlusConfiguration" type="Nerdle.AutoConfig.Section, Nerdle.AutoConfig" />    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
    <add name="HisPlus" connectionString="Data Source=localhost;Initial Catalog=HisPlus;Persist Security Info=True;User ID=sa;Password=lawson;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="Redis" connectionString="192.168.1.225:6379,allowadmin=true" />
    <!--<add name="HisPlus" connectionString="Data Source=192.168.1.225;Initial Catalog=GBLNHISShow;Persist Security Info=True;User ID=sa;Password=asd2828;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <hisPlusConfiguration provider="local">

    <localProvider>
      <connectionString name="HisPlus" />
      <installers>
        <installer assembly="HisPlus.Core" />
        <installer assembly="HisPlus.Domain" />
        <installer assembly="HisPlus.Service" />
      </installers>
    </localProvider>

    <agentProvider>
      <host name="localhost" port="14293">
        <credentials userName="test" password="test" />
      </host>
    </agentProvider>

    <clientCacheProvider>
      <connectionString name="Redis" />
      <customizedKey keyFormat="red_{0}_cache" />
    </clientCacheProvider>
  </hisPlusConfiguration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="ActivityTracing">
        <listeners>
          --><!--<add name="mylisteners" type="System.Diagnostics.XmlWriterTraceListener" initializeData="..\Trace.log" />--><!--
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>-->
  <!--<system.serviceModel>
    <behaviors>     
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>  
</configuration>