<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hisPlusConfiguration" type="Nerdle.AutoConfig.Section, Nerdle.AutoConfig" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  
  <connectionStrings>
    <add name="Redis" connectionString="192.168.1.225:6379,allowadmin=true"/>
  </connectionStrings>

  <hisPlusConfiguration isDistributed="true">
    <agentSection>
      <serviceAgent host="localhost" port="14293" />
      <credentials userName="test" password="test" />
    </agentSection>

    <redisSection>
      <key prefix="red" />
    </redisSection>
    
    <localSection connectionStringName="HisPlus">
      <installers>
        <installer assembly="HisPlus.Core"/>
        <installer assembly="HisPlus.Domain"/>
        <installer assembly="HisPlus.Service"/>
      </installers>
    </localSection>
  </hisPlusConfiguration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>